name: Coverage

on:
    pull_request_target:
        branches: [main, develop]

jobs:
    coverage:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install dependencies
              run: npm run install:all
              
            - name: Run tests with coverage
            - uses: ArtiomTr/jest-coverage-report-action@v2